
@{
  ViewData["Title"] = "Dashboard";
}

  <div class="row">
    <div class="col-lg-6">
      <div class="card card-pricing ">
        <h6 class="card-category"> </h6>
        <div class="card-body">
          <img class="card-img-top img-responsive" src="../images/hrm.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h4 class="card-title">Human Resources Management </h4>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

          </div>
          <div class="card-icon icon-primary ">
            <a asp-action="DashboardHR" asp-controller="Home">
              <i class="now-ui-icons files_single-copy-04"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-pricing ">
        <h6 class="card-category"> </h6>
        <div class="card-body">
          <img class="card-img-top img-responsive" src="../images/acc.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h4 class="card-title">Accounting </h4>

          </div>
          <div class="card-icon icon-primary ">
            <a asp-action="DashboardAC" asp-controller="Home">
              <i class="now-ui-icons business_money-coins"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

