@{
  ViewData["Title"] = "Home Page";
}

  <div class="content">

    @Html.Partial("~/Views/Manage/_StatusMessage.cshtml", ViewData["StatusMessage"])

    @*<div class="row">
      <div class="col-md-12">
        <div class="card card-stats card-raised">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-primary">
                      <i class="now-ui-icons ui-2_chat-round"></i>
                    </div>
                    <h3 class="info-title">859</h3>
                    <h6 class="stats-title">Messages</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-success">
                      <i class="now-ui-icons business_money-coins"></i>
                    </div>
                    <h3 class="info-title">
                      <small>$</small>3,521
                    </h3>
                    <h6 class="stats-title">Today Revenue</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-info">
                      <i class="now-ui-icons users_single-02"></i>
                    </div>
                    <h3 class="info-title">562</h3>
                    <h6 class="stats-title">Customers</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="statistics">
                  <div class="info">
                    <div class="icon icon-danger">
                      <i class="now-ui-icons objects_support-17"></i>
                    </div>
                    <h3 class="info-title">353</h3>
                    <h6 class="stats-title">Support Requests</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>*@

    <div class="row">
      <!-- Column -->

      <div class="container-fluid">
        <div class="card">

          @if (ViewBag.IsOrg == "NotRegistered")
          {
            <div class="card-body col-lg-12">
              <div style="text-align:center;">
                <h1 class="d-inline">Welcome to ERP4SME <a href="#code1" data-toggle="collapse">@*<i class="fa fa-code" data-toggle="tooltip" title="Get code"></i>*@</a></h1>
                <p class="text-muted m-t-0">Before you proceed, kindly update your organisation details.</p>

                <a href="/Organisation/MyOrganisation" class="btn btn-lg btn-success">Click to Update</a>
              </div>
            </div>

          }
          else
          {
            @*<div class="card-body">
                <h1 class="d-inline">Modules <a href="#code1" data-toggle="collapse">@*<i class="fa fa-code" data-toggle="tooltip" title="Get code"></i></a></h1>
                <p class="text-muted m-t-0">For the module click on above code icon</p>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-4 col-md-6">
                        <!-- Card -->
                        <div class="card">
                            <img class="card-img-top img-responsive" src="../images/acc.jpg" alt="Card image cap" style="height: 200px;">
                            <div class="card-body">
                                <h4 class="card-title">Accounting & Inventory</h4>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <a href="/ACC/Dashboard" class="btn btn-success">Go to Dashboard</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- column -->
                    <!-- column -->
                    <div class="col-lg-4 col-md-6">
                        <!-- Card -->
                        <div class="card">
                            <img class="card-img-top img-responsive" src="../images/crm.jpg" alt="Card image cap" style="height: 200px;">
                            <div class="card-body">
                                <h4 class="card-title">Customer Relationship Manag.</h4>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards.</p> -->
                                <a href="javascript:void(0)" class="btn btn-info">Go to Dashboard</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- column -->
                    <!-- column -->
                    <div class="col-lg-4 col-md-6">
                        <!-- Card -->
                        <div class="card">
                            <img class="card-img-top img-responsive" src="../images/hrm.jpg" alt="Card image cap" style="height: 200px;">
                            <div class="card-body">
                                <h4 class="card-title">Human Resources Manag.</h4>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <a href="/HRM/Dashboard" class="btn btn-primary">Go to Dashboard</a>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                    <!-- column -->
                </div>
                <!-- Column -->
            </div>*@
            <div class="col-md-12">
              <div class="row">
                @*<div class="col-lg-4">
        <div class="card card-pricing ">
            <h6 class="card-category"> </h6>
            <div class="card-body">
                <img class="card-img-top img-responsive" src="../images/acc.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Accounting & Inventory</h4>

                </div>
                <div class="card-icon icon-primary ">
                    <i class="now-ui-icons business_money-coins"></i>
                </div>
                <h3 class="card-title">69$</h3>
            </div>
            <div class="card-footer">
              <a asp-action="Index" asp-controller="Estimates" class="btn btn-round btn-primary">Go to Dashboard</a>
            </div>
        </div>
    </div>*@
                @*<div class="col-lg-4">
        <div class="card card-pricing ">
            <h6 class="card-category"> </h6>
            <div class="card-body">
                <img class="card-img-top img-responsive" src="../images/crm.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Customer Relationship </h4>

                </div>
                <div class="card-icon icon-primary ">
                    <i class="now-ui-icons objects_diamond"></i>
                </div>
            </div>
            <div class="card-footer">
                <a href="/HRM/Dashboard" class="btn btn-round btn-primary">Go to Dashboard</a>
            </div>
        </div>
    </div>*@
                <div class="col-lg-4">
                  <div class="card card-pricing ">
                    <h6 class="card-category"> </h6>
                    <div class="card-body">
                      <img class="card-img-top img-responsive" src="../images/hrm.jpg" alt="Card image cap" style="height: 200px;">
                      <div class="card-body">
                        <h4 class="card-title">Human Resources Management </h4>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

                      </div>
                      <div class="card-icon icon-primary ">
                        <a asp-action="DashboardHR" asp-controller="Home">
                          <i class="now-ui-icons files_single-copy-04"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card card-pricing ">
                    <h6 class="card-category"> </h6>
                    <div class="card-body">
                      <img class="card-img-top img-responsive" src="../images/acc.jpg" alt="Card image cap" style="height: 200px;">
                      <div class="card-body">
                        <h4 class="card-title">Accounting </h4>

                      </div>
                      <div class="card-icon icon-primary ">
                        <a asp-action="DashboardAC" asp-controller="Home">
                          <i class="now-ui-icons business_money-coins"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                @* <div class="col-lg-4">
        <div class="card card-pricing ">
            <h6 class="card-category"> </h6>
            <div class="card-body">
                <img class="card-img-top img-responsive" src="../images/crm.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h4 class="card-title">CRM </h4>

                </div>
                <div class="card-icon icon-primary ">
                    <a asp-action="DashboardHR" asp-controller="Home">
                        <i class="now-ui-icons files_single-copy-04"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
              </div>
            </div>
          }
        </div>
      </div>
    </div>









  </div>
