
@{
    ViewData["Title"] = "Add License";
    Layout = "~/Views/Shared/_LayoutWragbyAdmin.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 pull-left">
                                <h4 class="card-title">Add License</h4>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="row">
                                    <label class="col-md-3 col-form-label">License Batch Name</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Batch 1" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">No of License</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="20" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Bundle Description</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            
                                            <input type="text" class="form-control" placeholder="Starter Pack">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label">Expiration Date</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="date" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-info">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">

        </div>
    </div>
</div>

