
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_LayoutWragbyAdmin.cshtml";
}

<style>
    .body-card {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

  
</style>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header body-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 pull-left">
                                <h4 class="card-title">Support</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body body-card">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive" style="overflow:auto;">
                                <table id="datatable " class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><strong>Support ID</strong></th>
                                            <th><strong>Date</strong></th>
                                            <th><strong> Organisation</strong></th>
                                            <th><strong> Description</strong></th>
                                            <th><strong> Severity Level</strong></th>
                                            <th><strong> Status </strong></th>
                                            <th class="disabled-sorting text-right" ><strong> Action</strong></th>

                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr >
                                            <td> TAC 12</td>
                                            <td> 23 December, 2019</td>
                                            <td class="">Wragby Business Solutions Support Enquiry</td>
                                            <td>Wragby Business Solutions Support Enquiry, There was a request to 
                                            set your Employee Account password from Wale Intl If did not make this request
                                            </td>
                                            <td> <button class="btn btn-primary button-custom">Urgent</button></td>
                                            <td>Pending</td>
                                            <td>
                                                <a asp-action="SupportDetails" asp-controller="Admin" class="btn btn-icon btn-sm  btn-info" title=" View Details" data-toggle="tooltip" data-placement="top"><i class="fa fa-eye"></i></a>
                                                <a href="#" class="btn btn-danger btn-icon btn-sm remove "><i class="fas fa-times"></i></a>
                                            </td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>