
@{
    ViewData["Title"] = "Update Organisation Details";
    Layout = "~/Views/Shared/_LayoutWragbyAdmin.cshtml";
}


<style>

    .body-card {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 2%;
    }
</style>



<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons objects_support-17"></i>
                                    </div>
                                    <h3 class="info-title">353</h3>
                                    <h6 class="stats-title">Support Requests</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h3 class="info-title">562</h3>
                                    <h6 class="stats-title">Organisations</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons shopping_tag-content"></i>
                                    </div>
                                    <h3 class="info-title">
                                        3,521
                                    </h3>
                                    <h6 class="stats-title">Total Licenses</h6>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card body-card">
                <div class="card-header">
                    <h4 class="card-title">Company Listing</h4>
                    <p class="category">List of organizations</p>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Organisation Name
                                    </th>
                                    <th>
                                        Total License
                                    </th>

                                    <th class="pull-right">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <a href="#" class="pull-right">View more...</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card body-card">
                <div class="card-header">
                    <h4 class="card-title">Company Listing</h4>
                    <p class="category">List of organizations</p>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Organisation Name
                                    </th>
                                    <th>
                                        Total License
                                    </th>

                                    <th class="pull-right">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        Wragby Business Solutions
                                    </td>

                                    <td>019</td>

                                    <td>
                                        <button class="btn btn-primary pull-right">View Details</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <a href="#" class="pull-right">View more...</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
