
@{
  ViewData["Title"] = "Add Employee";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}

<div class="content">
  <div class="col-md-10 mr-auto ml-auto">
    <!--      Wizard container        -->
    <div class="wizard-container">
      <div class="card card-wizard" data-color="primary" id="wizardProfile">
        <form action="AddNewEmployee" method="post">
          <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
          <div class="card-header text-center" data-background-color="orange">
            <h3 class="card-title">
              Onboarding New Employee
            </h3>
            <h5 class="description">
              This information will let us know more about you.
            </h5>
            <div class="wizard-navigation">
              <ul>
                <li class="nav-item">
                  <a class="nav-link active" href="#about" data-toggle="tab">
                    <i class="now-ui-icons users_circle-08"></i> Profile Details
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#account" data-toggle="tab">
                    <i class="now-ui-icons ui-1_settings-gear-63"></i> Job
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#address" data-toggle="tab">
                    <i class="now-ui-icons ui-1_email-85"></i> Salary
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="about">
                @*<h5 class="info-text"> Let's start with the basic information.</h5>*@
                <div class="row justify-content-center">
                  <div class="col-sm-4">

                    <div class="picture-container">
                      <div class="picture">
                        <img src="../../assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                        <input type="file" id="wizardpicture" name="wizardpicture">
                      </div>
                      <h6 class="description">Choose Picture</h6>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group form-control-lg">
                      <span class="input-group-addon">
                        @*<i class="now-ui-icons users_circle-08"></i>*@
                      </span>
                      <input type="text" class="form-control" placeholder="First Name (required)" name="firstname" id="firstname">
                    </div>
                    <div class="input-group form-control-lg">
                      <span class="input-group-addon">
                        @*<i class="now-ui-icons text_caps-small"></i>*@
                      </span>
                      <input type="text" placeholder="Last Name (required)" class="form-control" name="lastname" id="lastname" />
                    </div>
                  </div>
                  <div class="col-lg-4 mt-3">
                    <label>Phone Number</label>
                    <div class="input-group form-control-lg">
                      <span class="input-group-addon">
                        @*<i class="now-ui-icons text_caps-small"></i>*@
                      </span>
                      <input type="tel" placeholder="Phone No (required)" class="form-control" name="phoneNo" id="phoneNo" />
                    </div>
                  </div>
                  <div class="col-lg-6 mt-3">
                    <label>Employee Email</label>
                    <div class="input-group form-control-lg">
                      <span class="input-group-addon">
                        @*<i class="now-ui-icons text_caps-small"></i>*@
                      </span>
                      <input type="email" placeholder="Employee Email (required)" class="form-control" id="email" name="email" />
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Gender</label>
                      <select type="text" data-style="btn btn-round" class="selectpicker" id="Gender" name="Gender">
                        <option> -- Select Gender -- </option>
                        <option>Male </option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label>Marital Status</label>
                      <select type="text" data-style="btn btn-round" class="selectpicker" id="maritalStatus" name="maritalStatus">
                        <option> -- Select Marital -- </option>
                        <option>Single </option>
                        <option>Married</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Date of Birth</label>
                      <input type="Date" class="form-control" placeholder="date" id="DateOfBirth" name="DateOfBirth">
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="account">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Job Title</label>
                          <div class="input-group mb-2">
                            <select type="text" class="form-control" asp-items="ViewBag.JobTitle" placeholder="JobTile" id="JobTitle" name="JobTitle"></select>
                            <div class="input-group-append " style="position:relative; top:-10px;">
                              <span data-toggle="modal" data-target="#noticeModal"><button class="btn btn-success" type="button" title="Add Job Title" data-toggle="tooltip" data-placement="top">+</button></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Department</label>
                          <div class="input-group mb-2">
                            <select type="text" class="form-control" asp-items="ViewBag.Department" id="Department" name="Department">
                            </select>
                            <div class="input-group-append " style="position:relative; top:-10px;">
                              <span data-toggle="modal" data-target="#noticeModal1"><button class="btn btn-success" type="button" title="Add Department" data-toggle="tooltip" data-placement="top">+</button></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Job Category</label>
                          <div class="input-group mb-2">
                            <select type="text" class="form-control" asp-items="ViewBag.JobCategory" id="JobCategory" name="JobCategory">
                            </select>
                            <div class="input-group-append " style="position:relative; top:-10px;">
                              <span data-toggle="modal" data-target="#noticeModal2"><button class="btn btn-success" type="button" title="Add Job Category" data-toggle="tooltip" data-placement="top">+</button></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Employment Type</label>
                          <div class="input-group mb-2">
                            <select type="text" class="form-control" asp-items="ViewBag.EmploymentStatus" id="EmploymentStatus" name="EmploymentStatus">
                            </select>
                            <div class="input-group-append " style="position:relative; top:-10px;">
                              <span data-toggle="modal" data-target="#noticeModal3"><button class="btn btn-success" type="button" title="Add Employement Status" data-toggle="tooltip" data-placement="top">+</button></span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Branch</label>
                          <div class="input-group mb-2">
                            <select type="text" class="form-control" asp-items="ViewBag.Branch" id="Branch" name="Branch">
                            </select>
                            <div class="input-group-append " style="position:relative; top:-10px;">
                              <span data-toggle="modal" data-target="#noticeModal4"><button class="btn btn-success" type="button" title="Add Branch" data-toggle="tooltip" data-placement="top">+</button></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Joined date </label>
                          <input type="date" class="form-control" id="JoinedDate" name="JoinedDate">
                        </div>
                      </div>


                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label>Start Date</label>
                          <input type="date" class="form-control" id="StartDate" name="StartDate">
                        </div>
                      </div>
                      @*<div class="col-md-6 ">
                          <div class="form-group">
                            <label>End Date</label>
                            <input type="date" class="form-control" >
                          </div>
                        </div>*@
                    </div>
                  </div>
                </div>
              </div>


              <div class="tab-pane fade" id="address">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Pay Frequency</label>
                          <select type="text" class="form-control" id="payFrequency" name="payFrequency">
                            <option> -- Select Pay Frequency -- </option>
                            <option value="Monthly">Monthly</option>
                            <option value="Bi Monthly">Bi Monthly</option>
                            <option value="Weekly">Weekly</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Amount </label>
                          <input type="number" class="form-control" id="JoinedDate" name="JoinedDate">
                        </div>
                      </div>


                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label>Currency</label>
                          <input type="text" class="form-control" id="StartDate" name="StartDate">
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label></label>

                        </div>
                      </div>
                      <br />
                      <hr />
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Account Name</label>
                          <div class="input-group mb-2">
                            <input type="text" class="form-control" id="AccountName" placeholder="Account Name" name="AccountName" />
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Amount Number </label>
                          <input type="text" class="form-control" placeholder="Amount Number" id="AccountNo" name="AccountNo">
                        </div>
                      </div>


                      <div class="col-md-6 ">
                        <div class="form-group">
                          <label>Bank Name</label>
                          <input type="text" class="form-control" placeholder="Bank Name" id="BankName" name="BankName">
                        </div>
                      </div>
                    </div>
                  </div>


                  @*<div class="col-sm-12">
                        <h5 class="info-text"> Are you living in a nice area? </h5>
                    </div>*@
                  @*<div class="col-sm-10">
                        <div class="form-group">
                            <label>Pay Frequency</label>
                            <select type="text" class="form-control" id="payFrequency" name="payFrequency">
                                <option> -- Select Pay Frequency -- </option>
                                <option value="Monthly">Monthly</option>
                                <option value="Bi Monthly">Bi Monthly</option>
                                <option value="Weekly">Weekly</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" class="form-control text-right" placeholder="Amount" id="Amount" name="Amount">
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label>Currency</label>
                            <input type="text" class="form-control text-right" placeholder="Amount" id="Amount" name="Amount">
                        </div>
                    </div>*@


                </div>
              </div>
              <div class="card-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />
                  <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' />
                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- wizard container -->
    <!-- All the modal Pages -->
    <!-- notice modal -->
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notice">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h5 class="modal-title" id="myModalLabel">Create New Job Title</h5>
          </div>
          <div id="loading-overlay">
            <div class="loading-icon"></div>
          </div>

          <div class="modal-body">
            <div class="instruction">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Job Title</label>
                      <input type="text" class="form-control" placeholder="Job Title" id="aJobTitle" name="aJobTitle" required>
                    </div>
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-fill btn-primary btn-round" id="SubmitNewJobTitle">Add New</button>
                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end job Title modal -->
    <!-- Begin Department modal -->
    <!-- notice modal -->
    <div class="modal fade" id="noticeModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notice">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h5 class="modal-title" id="myModalLabel">Enter New Department</h5>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Department Name</label>
                      <input type="text" class="form-control" placeholder="Department Name" id="aDepartmentName" name="aDepartmentName" required>
                    </div>
                  </div>
                </div>
                <div class="row">               
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" placeholder="Description" id="aDescription" name="aDescription" required rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-fill btn-primary btn-round" id="SubmitNewDepartment"> Add New</button>
                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end notice modal -->
    <!-- end Department modal -->
    <!-- Begin Job Category modal -->
    <div class="modal fade" id="noticeModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notice">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h5 class="modal-title" id="myModalLabel">Enter New Job Category</h5>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Job Category</label>
                      <input type="text" class="form-control" placeholder="Job Category" id="aJobCategory" name="aJobCategory" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" placeholder="Description" id="aDescription" name="aDescription" required rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-fill btn-primary btn-round" id="SubmitNewJobCategory">Add New</button>
                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Job Category modal -->
    <!-- Begin Employment Status modal -->
    <!-- notice modal -->
    <div class="modal fade" id="noticeModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notice">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h5 class="modal-title" id="myModalLabel">Enter New Employement Status</h5>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Employment Status Name</label>
                      <input type="text" class="form-control" placeholder="Employment Type" id="aEmploymentStatusName" name="aEmploymentStatusName" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Description </label>
                      <textarea class="form-control" placeholder="Description" id="aDescription" name="aDescription" required rows="3"></textarea>
                    </div>
                  </div>
                </div>

                <div>
                  <button type="submit" class="btn btn-fill btn-primary btn-round" id="SubmitNewEmploymentStatus">Add New</button>
                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end notice modal -->
    <!-- end Employment Status modal -->
    <div class="modal fade" id="noticeModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notice">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h5 class="modal-title" id="myModalLabel">Enter New Branch</h5>
          </div>
          <div class="modal-body">
            <div class="instruction">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Branch Name</label>
                      <input type="text" class="form-control" placeholder="Branch Name" id="aBranchName" name="aBranchName" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" placeholder="Email" id="aEmail" name="aEmail" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input type="text" class="form-control" placeholder="Phone Number" id="aPhoneNo" name="aPhoneNo" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> City </label>
                      <input type="text" class="form-control" placeholder="City" id="aCity" name="aCity" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label> Country </label>
                      <input type="text" class="form-control" placeholder="country" id="aCountry" name="aCountry" required>
                    </div>
                  </div>
                </div>
                <div class="card-footer ">
                  <button type="submit" class="btn btn-fill btn-primary btn-round" id="SubmitNewBranch">Submit</button>
                  <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Begin Employment Status modal -->
    <!-- end Employment Status modal -->
    <!-- End of all the modal pages-->

  </div>
</div>
<script src="~/assets/js/plugins/bootstrap-switch.js"></script>

<script>

  $(document).ready(function () {
    // Initialise the wizard
    demo.initNowUiWizard();
    setTimeout(function () {
      $('.card.card-wizard').addClass('active');
    }, 600);
  });

  $(document).ready(function () {
    //-------------------------------SELECT CASCADING-------------------------//
    var selectedCountry = selectedRegion = selectedCity = countryCode = "";
    // This is a demo API key for testing purposes. You should rather request your API key (free) from http://battuta.medunes.net/
    var BATTUTA_KEY = "00000000000000000000000000000000";
    // Populate country select box from battuta API
    url =
      "https://geo-battuta.net/api/country/all/?key=" +
      BATTUTA_KEY +
      "&callback=?";
    // EXTRACT JSON DATA.
    $.getJSON(url, function (data) {
      $.each(data, function (index, value) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT. Set the country code in the id section rather than in the value.
        $("#country").append(
          '<option id="' + value.code + '" value="' + value.code + '">' + value.name + "</option>"
        );
      });
    });
    // Country selected --> update region list .
    $("#country").change(function () {
      selectedCountry = this.options[this.selectedIndex].text;
      countryCode = $(this).children(":selected").attr("id");
      url =
        "https://geo-battuta.net/api/region/" +
        countryCode +
        "/all/?key=" +
        BATTUTA_KEY +
        "&callback=?";
      $.getJSON(url, function (data) {
        $("#region option").remove();
        $.each(data, function (index, value) {
          // APPEND OR INSERT DATA TO SELECT ELEMENT.
          $("#region").append(
            '<option value="' + value.region + '">' + value.region + "</option>"
          );
        });
      });
    });
    // Region selected --> updated city list
    $("#region").on("change", function () {
      selectedRegion = this.options[this.selectedIndex].text;
      // Populate country select box from battuta API
      region = $("#region").val();
      url =
        "https://geo-battuta.net/api/city/" +
        countryCode +
        "/search/?region=" +
        region +
        "&key=" +
        BATTUTA_KEY +
        "&callback=?";
      $.getJSON(url, function (data) {
        $("#city option").remove();
        $.each(data, function (index, value) {
          // APPEND OR INSERT DATA TO SELECT ELEMENT.
          $("#city").append(
            '<option value="' + value.city + '">' + value.city + "</option>"
          );
        });
      });
    });
    // city selected --> update location string
    $("#city").on("change", function () {
      selectedCity = this.options[this.selectedIndex].text;
      $("#location").html(
        "Locatation: Country: " +
        selectedCountry +
        ", Region: " +
        selectedRegion +
        ", City: " +
        selectedCity
      );
    });

  });
  // process form
  function processForm() {
    var username = password = country = region = city = '';
    username = $('#username').val();
    password = $('#password').val();
    country = $('#country').val();
    region = $('#region').val();
    city = $('#city').val();
    if (username != '' && password != '' && country != '' && region != '' && city != '') {
      $("#location").html(
        "Username: " + username +
        " /Password: " + password +
        " /Locatation: Country: " +
        country +
        ", Region: " +
        region +
        ", City: " +
        city
      );
    } else {
      $("#location").html('Complete Form 1st');
      return false;
    }
  }

</script>


@section Scripts {

  <script>
    $("#SubmitNewJobTitle").click(function (event) {

      event.preventDefault();

      $("#loading-overlay").show();

      var JobTitle = {
        JobTitle: $("#aJobTitle").val(),
      };


      // console.log(Items);
      console.log(JobTitle);

      $.ajax({
        type: "POST",
        url: "/Employees/postNewJobTitle",
        data: JSON.stringify(JobTitle),
        dataType: "json",
        contentType: 'application/json; charset=utf-8',
        headers: {
          RequestVerificationToken:
            $('input:hidden[name="__RequestVerificationToken"]').val()
        },
        success: function (r) {

          if (r.msg == "Success") {
        	swal({
                title: "Success!",
                text: "Job Added!",
                buttonsStyling: false,
                confirmButtonClass: "btn btn-success",
            type: "success"
          }).then(function () {

            //window.location.reload();

          }).catch(swal.noop);

          } else if (r.msg == "Fail") {
            $("#loading-overlay").hide();
            alert(r.msg);

          } else if (r.msg == "No Data") {
            $("#loading-overlay").hide();
            alert(r.msg);

          } else {
            $("#loading-overlay").hide();
            alert(r.msg);
          }
          //alert(r.msg);
          // window.location.reload();

        },
        error: function () {
          $("#loading-overlay").hide();
          alert(r.msg);
        }
      });
    });


  </script>

    <script>
        $("#SubmitNewDepartment").click(function (event) {

          event.preventDefault();

          $("#loading-overlay").show();

          var Department = {
                DepartmentName: $("#aDepartmentName").val(),
                Description: $("#aDescription").val(),
          };


          // console.log(Items);
          console.log(Department);

          $.ajax({
            type: "POST",
            url: "/Employees/Department",
            data: JSON.stringify(Department),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: {
              RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (r) {

              if (r.msg == "Success") {
        	    swal({
                    title: "Success!",
                    text: "Department Added!",
                    buttonsStyling: false,
                    confirmButtonClass: "btn btn-success",
                type: "success"
              }).then(function () {

                //window.location.reload();

              }).catch(swal.noop);

              } else if (r.msg == "Fail") {
                $("#loading-overlay").hide();
                alert(r.msg);

              } else if (r.msg == "No Data") {
                $("#loading-overlay").hide();
                alert(r.msg);

              } else {
                $("#loading-overlay").hide();
                alert(r.msg);
              }
              //alert(r.msg);
              // window.location.reload();

            },
            error: function () {
              $("#loading-overlay").hide();
              alert(r.msg);
            }
          });
        });      

    </script>

    <script>
        $("#SubmitNewJobCategory").click(function (event) {

            event.preventDefault();

            $("#loading-overlay").show();

            var jobCategory = {
                JobCategory: $("#aJobCategory").val(),
                Description: $("#aDescription").val(),
            };


            // console.log(Items);
            console.log(jobCategory);

            $.ajax({
                type: "POST",
                url: "/Employees/NewJobCategory",
                data: JSON.stringify(jobCategory),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (r) {

                    if (r.msg == "Success") {
                        swal({
                            title: "Success!",
                            text: "JobCategory Added!",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        }).then(function () {

                            //window.location.reload();

                        }).catch(swal.noop);

                    } else if (r.msg == "Fail") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else if (r.msg == "No Data") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else {
                        $("#loading-overlay").hide();
                        alert(r.msg);
                    }
                    //alert(r.msg);
                    // window.location.reload();

                },
                error: function () {
                    $("#loading-overlay").hide();
                    alert(r.msg);
                }
            });
        });

    </script>

    <script>
        $("#SubmitNewEmploymentStatus").click(function (event) {

            event.preventDefault();

            $("#loading-overlay").show();

            var employmentStatus = {
                EmploymentStatusName: $("#aEmploymentStatusName").val(),
                Description: $("#aDescription").val(),
            };


            // console.log(Items);
            console.log(employmentStatus);

            $.ajax({
                type: "POST",
                url: "/Employees/PostNewEmploymentStatus",
                data: JSON.stringify(employmentStatus),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (r) {

                    if (r.msg == "Success") {
                        swal({
                            title: "Success!",
                            text: "Employment Type Added!",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        }).then(function () {

                            //window.location.reload();

                        }).catch(swal.noop);

                    } else if (r.msg == "Fail") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else if (r.msg == "No Data") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else {
                        $("#loading-overlay").hide();
                        alert(r.msg);
                    }
                    //alert(r.msg);
                    // window.location.reload();

                },
                error: function () {
                    $("#loading-overlay").hide();
                    alert(r.msg);
                }
            });
        });

    </script>

    <script>
        $("#SubmitNewBranch").click(function (event) {

            event.preventDefault();

            $("#loading-overlay").show();

            var branch = {
                BranchName: $("#aBranchName").val(),
                Email: $("#aEmail").val(),
                PhoneNo: $("#aPhoneNo").val(),
                City: $("#aCity").val(),
                Country: $("#aCountry").val(),

            };


            // console.log(Items);
            console.log(branch);

            $.ajax({
                type: "POST",
                url: "/Employees/PostNewBranch",
                data: JSON.stringify(branch),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (r) {

                    if (r.msg == "Success") {
                        swal({
                            title: "Success!",
                            text: "Branch Added!",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        }).then(function () {

                            //window.location.reload();

                        }).catch(swal.noop);

                    } else if (r.msg == "Fail") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else if (r.msg == "No Data") {
                        $("#loading-overlay").hide();
                        alert(r.msg);

                    } else {
                        $("#loading-overlay").hide();
                        alert(r.msg);
                    }
                    //alert(r.msg);
                    // window.location.reload();

                },
                error: function () {
                    $("#loading-overlay").hide();
                    alert(r.msg);
                }
            });
        });

    </script>
}