
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccountInventory.cshtml";
}


<style>
    .body-card {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .table-font {
        font-weight: 500;
    }

    .iconstyle {
        font-size: 25px;
        margin-top: 20px;
    }

    .picture {
        background: fixed;
    }

        .picture:hover {
            border-radius: 7px;
            box-shadow: 0 0 11px rgba(33,33,33,.2);
            padding: 10px;
        }

    .button-pad {
        margin-top: 20px;
    }

    .space {
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .textspace {
        padding-top:;
        padding-left: 50px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Cash Flow</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats card-raised">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3">

                            <label class="">Report Type</label>
                            <select class="form-control" style="text-align: center;">
                                <option>Cash and Cash Equivalents</option>
                                <option>Cash Only</option>
                                
                            </select>

                        </div>

                        <div class="col-md-3">
                            <label>Start Date</label>
                            <input type="date" class="form-control" />
                        </div>




                        <div class="col-md-3">
                            <label>End Date</label>
                            <input type="date" class="form-control" />
                        </div>

                        <div class="col-md-3">
                            <input type="submit" value="Update Report" class="button-pad btn btn-info" />

                        </div>



                        <div class="col-md-4 space">
                            <h6 style="text-align:center;">Cash Inflow</h6>
                            <h4 style="text-align:center;">₦ 0 <span class="pull-right">-</span></h4>
                        </div>
                        <div class="col-md-4 space">
                            <h6 style="text-align:center;">Cash Outflow</h6>
                            <h4 style="text-align:center;">₦ 0 <span class="pull-right">=</span></h4>
                        </div>

                       

                        <div class="col-md-4 space">
                            <h6 style="text-align:center;">Net Cash Change</h6>
                            <h4 style="text-align:center;">₦ 0</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header body-card">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-success btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export Data
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Copy</a>
                                <a class="dropdown-item" href="#">CSV</a>
                                <a class="dropdown-item" href="#">Excel</a>
                                <a class="dropdown-item" href="#">PDF</a>
                                <a class="dropdown-item" href="#">Print</a>

                            </div>
                        </div>



                        <h4 class="card-title"></h4>
                    </div>
                    <div class="card-body body-card">

                        <div class="table-responsive-sm">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><strong>Cash Inflow and Outflow</strong></th>
                                        <th style="text-align:right;"><strong>June 23 2018 to July 23, 2019</strong></th>

                                    </tr>
                                </thead>
                                <tbody class="fontweight">

                                    <tr>
                                        <td class="table-font"><strong>Operating Activities</strong></td>
                                        <td style="text-align:right;"></td>


                                    </tr>

                                    <tr>
                                        <td class="table-font">Sales</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td>Purchase</td>
                                        <td style="text-align:right;">NGN0.00</td>

                                    </tr>
                                    <tr>
                                        <td>Inventory</td>
                                        <td style="text-align:right;">NGN0.00</td>

                                    </tr>

                                    <tr>
                                        <td>Payroll</td>
                                        <td style="text-align:right;">NGN0.00</td>

                                    </tr>


                                    <tr>
                                        <td>Sales Taxes</td>
                                        <td style="text-align:right;">NGN0.00</td>

                                    </tr>
                                    <tr>
                                        <td>Others</td>
                                        <td style="text-align:right;">NGN0.00</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Net Cash from Operating Activities</strong></td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>
                                </tbody>

                                <thead>
                                    <tr>
                                        <th><strong>Investing Activities</strong></th>
                                        <th style="text-align:right;"></th>


                                    </tr>
                                </thead>
                                <tbody class="fontweight">
                                    <tr>
                                        <td class="table-font">Property, Plant, Equipment</td>
                                        <td style="text-align:right;"></td>


                                    </tr>
                                    <tr>
                                        <td>Other</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td><strong>Net Cash from Investing Activities</strong></td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>
                                </tbody>

                                <thead>
                                    <tr>
                                        <th><strong>Financing Activities</strong></th>
                                        <th style="text-align:right;"></th>


                                    </tr>
                                </thead>
                                <tbody class="fontweight">
                                    <tr>
                                        <td class="table-font">Loans and Lines of Credit</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>
                                    <tr>
                                        <td>Owners and Shareholders</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td>Others</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>
                                    <tr>
                                        <td><strong>Net Cash from Financing Activities</strong></td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>


                                </tbody>

                               <p></p>
                                <thead>
                                    <tr>
                                        <th><strong>OVERVIEW</strong></th>
                                        <th style="text-align:right;"></th>


                                    </tr>
                                </thead>
                                <tbody class="fontweight">
                                    <tr>
                                        <td class="table-font">starting Balance</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>
                                    <tr>
                                        <td>Cash Inflow</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td>Cash Outflow</td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td><strong>Net Cash Change</strong></td>
                                        <td style="text-align:right;">NGN0.00</td>


                                    </tr>

                                    <tr>
                                        <td><strong>Ending Balance</strong></td>
                                        <td style="text-align:right;">NGN0.00<p>As of 2019-07-17</p></td>


                                    </tr>


                                </tbody>

                            </table>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

