@model IEnumerable<E4S.Models.HumanResource.PayGrade>

@{
  ViewData["Title"] = "Pay Grade";
  Layout = "~/Views/Shared/_LayoutHumanResouces.cshtml";
}

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-info" data-toggle="modal" data-target="#noticeModal">
            Add Pay Grade
          </button>
          <!-- notice modal -->
          <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notice">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <h5 class="modal-title" id="myModalLabel">Enter New Pay Grade</h5>
                </div>
                <div class="modal-body">
                  <div class="instruction">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Pay Grade Name</label>
                            <input type="text" class="form-control" placeholder="Pay Grade Name" id="PayGradeName" required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label> Currency </label>
                            <input type="text" class="form-control" placeholder="Currency" id="Currency" required>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Minimum Salary</label>
                            <input type="text" class="form-control" placeholder="Minimum Salary" id="MinimumSalary">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Maximum Salary</label>
                            <input type="text" class="form-control" placeholder="Maximum Salary" id="MaximumSalary">
                          </div>
                        </div>
                      </div>

                      <hr />
                      <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-primary btn-round" id="SubmitNewPayGrade">Submit</button>
                        <button type="button" class="btn btn-info btn-round" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                  @*<p>If you have more questions, don't hesitate to contact us or send us a tweet  creativetim. We're here to help!</p>*@
                </div>
              </div>
            </div>
          </div>
          <!-- end notice modal -->
          @*<button type="submit" class="btn btn-fill btn-info">Add Employee</button>*@
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="text-primary">
              <th class="text-center">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span>
                  </label>
                </div>
              </th>
              <th class="text-center">
                #
              </th>
              <th>
                Pay Grade Name
              </th>
              <th>
                Currency
              </th>
              <th>
                Minimum Salary
              </th>
              <th>
                Maximum Salary
              </th>
              <th>
                Actions
              </th>
              </thead>
              <tbody>

                @{
                  int i = 1;

                  @if (Model.Count() < 1)
                  {
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>No Data to Display</td>
                  <td></td>
                  <td></td>
                  <td></td>

                }

                  @foreach (var item in Model)
                  {

                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </td>
                      <td class="text-center">
                        @i
                      </td>

                      <td>
                        @item.PayGradeName
                      </td>
                      <td>
                        @item.Currency
                      </td>
                      <td class="text-center">
                        @item.MinimumSalary
                      </td>
                      <td class="text-center">
                        @item.MaximumSalary
                      </td>
                      <td>
                        <a href="#" class="btn btn-round btn-warning btn-icon btn-sm edit" title="Click to Edit"><i class="far fa-calendar-alt"></i></a>
                        <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove" title="Click to Delete"><i class="fas fa-times"></i></a>
                      </td>
                    </tr>

                    { i = i + 1; }
                  }
                }

                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {

  <script type="text/javascript">

    $(document).ready(function () {

      $("#SubmitNewPayGrade").click(function (event) {

        event.preventDefault();

        var PayGrade = {
          PayGradeName: $("#PayGradeName").val(),
          Currency: $("#Currency").val(),
          MinimumSalary: $("#MinimumSalary").val(),
          MaximumSalary: $("#MaximumSalary").val(),
        };


        // console.log(Items);
        console.log(PayGrade);

        $.ajax({
          type: "POST",
          url: "/Jobs/postNewPayGrade",
          data: JSON.stringify(PayGrade),
          dataType: "json",
          contentType: 'application/json; charset=utf-8',
          headers: {
            RequestVerificationToken:
              $('input:hidden[name="__RequestVerificationToken"]').val()
          },
          success: function (r) {

            if (r.msg == "Success") {

              demo.showSwal('success-message');

            } else if (r.msg == "Fail") {

              alert(r.msg);

            } else if (r.msg == "No Data") {
              alert(r.msg);

            } else {
              alert(r.msg);
            }
            //alert(r.msg);
            // window.location.reload();

          },
          error: function () {
            alert(r.msg);
          }
        });
      });


    });

  </script>

}



