
@{
    ViewData["Title"] = "AdminReplyTicket";
     Layout = "~/Views/Shared/_LayoutWragbyAdmin.cshtml";
}


<style>
    .body-card {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .button-padding {
        margin-right: 10px
    }

    .support-title {
        margin-bottom: 40px;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header body-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 pull-left">
                                <h4 class="card-title">Support Details</h4>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="card-body body-card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8 support-title">
                                <form class="form" asp-action="AddCustomer">
                                    <div class="form-inline">
                                        <label class="labeltext col-sm-3">Customer Name*</label>
                                        <input type="text" class="form-control col-sm-4" placeholder="Enter Fullname" required />
                                    </div>
                                    <br />

                                    <div class="form-inline">
                                        <label class="labeltext col-sm-3" style="text-align:left;">Email</label>
                                        <input type="text" class="form-control col-sm-4" placeholder="name@mail.com" />

                                    </div>

                                    <br />
                                    <h6>Support ID: </h6>
                                    <input type="text" class="form-control col-sm-4" placeholder="Support ID" required />
                                    <h6>Date: </h6>
                                    <p> 23 December, 2019</p>
                                    <div class="col-md-12 support-title">
                                        <h6>Organisation Name: </h6>
                                        <input type="text" class="form-control col-sm-4" readonly placeholder="Organisation" />
                                    </div>

                                    <div class="col-md-8 support-title">
                                        <h6>Description: </h6>
                                        <p style="text-align:justify;">
                                            Wragby Business Solutions Support Enquiry, There was a request to set your Employee Account password from Wale Intl

                                            If did not make this request, just ignore this email. Otherwise, please click the button below to set your password:
                                            Wragby Business Solutions Support Enquiry, There was a request to set your Employee Account password from Wale Intl

                                            If did not make this request, just ignore this email. Otherwise, please click the button below to set your password:
                                            Wragby Business Solutions Support Enquiry, There was a request to set your Employee Account password from Wale Intl

                                            If did not make this request, just ignore this email. Otherwise, please click the button below to set your password:
                                        </p>
                                    </div>

                                    <div class="col-md-8 support-title">
                                        <h6>Severity Level: </h6>
                                        <p> Urgent </p>
                                    </div>


                                    <div class="col-md-8">
                                        <h6>Reply to Customer: </h6>
                                        <textarea class="form-control" rows="15" cols="50"></textarea>

                                        <input type="submit" value="Reply" class="btn btn-info" />

                                    </div>

                                </form>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>


