@model E4S.ViewModel.UsersViewModel

@{
  ViewData["Title"] = "Add User";
}



@Html.Partial("~/Views/Manage/_StatusMessage.cshtml", ViewData["StatusMessage"])

<div class="content">


  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Add New User</h4>
        </div>
        <div class="card-body ">
          <form asp-action="AddUser" asp-controller="Users" method="post" class="form-horizontal">
            <div class="row">
              <label class="col-md-3 col-form-label">Name</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" asp-for="Username" class="form-control" placeholder="Enter Name">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Email</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="email" asp-for="Email" class="form-control" placeholder="Enter E-mail">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Phone Number</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number">
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">User Role</label>
              <div class="col-md-3">
                <div class="form-group">
                  <select id="region" class="form-control" asp-for="UserRole" required>
                    <option value="Super Admin">--Select User Role--</option>
                    <option value="Super Admin">Super Admin</option>
                    <option value="Admin">Admin</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Accountant">Accountant</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Employee">Employee</option>
                  </select>
                </div>

                @*<div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="SuperAdmin">
                      <span class="form-check-sign"></span>
                      SuperAdmin
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Admin">
                      <span class="form-check-sign"></span>
                      Admin
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="HR">
                      <span class="form-check-sign"></span>
                      Human Resources
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="Accountant">
                      <span class="form-check-sign"></span>
                      Accountant
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="CS">
                      <span class="form-check-sign"></span>
                      Customer Service
                    </label>
                  </div>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="Employee">
                      <span class="form-check-sign"></span>
                      Employee
                    </label>
                  </div>*@
              </div>
            </div>

            <div class="row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-9">
                <div class="form-group">
                  <button type="submit" class="btn btn-fill btn-primary">Create User</button>
                </div>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>












  </div>
</div>




